{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} French Teacher {% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/output.css' %}" />

		{% block extra_css %}{% endblock %}
	</head>
	<body>
		<main>{% block content %}{% endblock %}</main>

		<!-- Flowbite JS -->
		<script src="{% static 'node_modules/flowbite/dist/flowbite.min.js' %}"></script>

		{% block extra_js %}{% endblock %}
	</body>
</html>
